.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.login-wrapper h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 16px;
}

.form-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 36px 24px;
    border-radius: 16px;
    transition: all;
    transition-duration: 1s;
}

.form-container:hover{
    box-shadow: 3px 3px 12px rgba(0,0,0,0.4);
}

.form-container label{
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-container label span{
    margin-right: 8px;
}

.form-container label input{
    border-radius: 4px;
}

.form-container label input:focus{
    background: rgb(243, 231, 231);
}
.login-btn{
    background: rgb(0, 167, 0);
}
body{
    background-image: url("placeholder.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}