.show-btn{
    display: flex;
    width: 100%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.navbar-container{
    background-color: black;
    color: aliceblue;
}

.wrapper{
    padding: 0px;
}

.navbar{
    width: 100%;
    height: 20%;
    margin:auto;
    padding: 20px;
}

.studentDashboard-container{
    text-align: center;
    margin: 8px 0;
    padding: 10px;
}

.show-btn button{
    margin-right: 16px;
    margin-bottom: 16px;
}
.navbar-button{
    margin-right: 10px;
}
/* .tables-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tables-container .table_{
    width: 100%;
    margin: 0 36px;
    position: relative;
}

.tables-container .table_ {
    height: 60vh;
    overflow-y: scroll;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    padding: 24px;
} */

.table > thead{
    position: sticky;
    top: 0;
}
/* 
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px ;
    min-height: auto;
}

.login-wrapper h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 16px;
} */

/* .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 36px 24px;
    border-radius: 16px;
    transition: all;
    transition-duration: 1s;
} */

/* .form-container:hover{
    box-shadow: 3px 3px 12px rgba(0,0,0,0.4);
} */

/* .form-container label{
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-container label span{
    margin-right: 8px;
}

.form-container label input{
    border-radius: 4px;
}

.form-container label input:focus{
    background: rgb(243, 231, 231);
} */
.set-btn{
    background: rgb(0, 167, 0);
}
.table-wrapper{
    text-align: center;
}